.EditableItem {
  display: flex;
  margin: 0.6rem 0;
  padding: 0.75rem;
  align-items: center;
  background: #fff;
  border-radius: var(--card-radius);
  box-shadow: var(--card-shadow);
}

.EditableItem-name {
  flex-grow: 1;
  font-size: 1.25rem;
  vertical-align: middle;
}

.EditableItem-actions {
  margin-left: 0.5rem;
  text-align: right;
}
