.ItemTag {
  display: inline-block;
  margin-left: 1.5rem;
  font-size: 1rem;
  padding: 0.25em 0.75em;
  background: #eaeaea;
  border-radius: 0.125rem;
}

.ItemTag + .ItemTag {
  margin-left: 0.75rem;
}

@media (max-width: 45rem) {
  .ItemTag {
    display: block;
    width: fit-content;
    margin: 0.375rem 0 0 !important;
  }
}
