# exclude everything
*

# only include what we need
!LICENSE
!**/package.json
!**/package-lock.json
!server.ts
!tsconfig.json
!backend
!frontend

# stuff from backend and frontend that we don't want
*/build
*/dist
**/node_modules
**/.gitignore
