.Empty {
  margin: 1.5rem 0;
  padding: 2em 1em;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 300;
  color: #555;
  background: #fff4;
  border-radius: var(--card-radius);
  box-shadow: var(--card-shadow);
}
