.PageTitle {
  display: block;
  margin: 0 0 32px;
}

.PageTitle-h {
  display: inline-block;
  margin: 0 48px 0 0;
  font-size: 32px;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
}

.PageTitle:not(:first-child) {
  margin-top: 48px;
}
