.Title {
  display: block;
  margin: 0 0 32px;
}

.Title:not(:first-child) {
  margin-top: 48px;
}

.Title-h {
  display: inline-block;
  margin: 0 48px 0 0;
  line-height: 1;
  vertical-align: middle;
}

h1.Title-h {
  font-size: 32px;
  font-weight: 400;
}

h2.Title-h {
  font-size: 24px;
  font-weight: 600;
}

.Title-icon {
  margin-right: 0.75em;
}
