.ChoreBox {
  display: inline-block;
  margin: 0 12px 12px 0;
  padding: 10px;
  vertical-align: top;
  background: #fff;
  border: 2px solid transparent;
  border-radius: 2px;
  box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.1);
}

.ChoreBox.urgent {
  background: #fffcf9;
  border-color: #ff3c00;
}

@media (max-width: 480px) {
  .ChoreBox {
    width: 100%;
  }
}
