.ManualChoreBox-title {
  font-size: 1.5rem;
  white-space: nowrap;
  line-height: 1;
}

.ManualChoreBox-icon {
  margin-right: 0.4em;
}

.ManualChoreBox-icon.good {
  color: #7ae293;
}

.ManualChoreBox-icon.bad {
  color: #f05353;
}

.ManualChoreBox-actions {
  margin-top: 0.75em;
}
