.ManualChoreBox-title {
  font-size: 24px;
  white-space: nowrap;
  line-height: 1;
}

.ManualChoreBox-icon {
  margin-right: 12px;
}

.ManualChoreBox-icon.good {
  color: #7ae293;
}

.ManualChoreBox-icon.bad {
  color: #f05353;
}

.ManualChoreBox-actions {
  margin-top: 12px;
}
