.ScoreRow {
  display: flex;
  margin: 0.25em 0;
  line-height: 1.25;
}

.ScoreRow-name {
  flex-grow: 1;
}

.ScoreRow-x {
  width: 6rem;
  height: 1.25em;
  text-align: center;
  color: #e64;
}

.ScoreRow-bar {
  width: 6rem;
  height: 1.25em;
  background: #c0e0d0;
}

.ScoreRow-bar-inner {
  display: block;
  height: 100%;
  padding-left: 0.5em;
  font-size: 0.875em;
  font-weight: bold;
  background: #e95;
}

@media (max-width: 25rem) {
  .ScoreRow {
    display: block;
  }

  .ScoreRow-bar {
    width: 100%;
  }
}
