.ScoreRow {
  display: flex;
  margin: 4px 0;
}

.ScoreRow-name {
  flex-grow: 1;
}

.ScoreRow-bar {
  width: 160px;
  height: 20px;
  background: #c0e0d0;
}

.ScoreRow-bar-inner {
  display: block;
  height: 100%;
  background: #e95;
}
