.ScoreboardBox-title {
  font-size: 1.5rem;
  margin-bottom: 0.5em;
  line-height: 1;
}

.ScoreboardBox-row {
  display: flex;
}

.ScoreboardBox-info {
  display: inline-block;
  margin-left: 0.5em;
  padding: 0 0.25em;
  font: inherit;
  font-size: 0.8em;
  color: inherit;
  background: none;
  border: none;
  border-radius: 0;
  opacity: 0.7;
  cursor: pointer;
}

.ScoreboardBox-info:focus,
.ScoreboardBox-info:hover {
  opacity: 1;
  outline: 0.125rem solid #bbb;
  outline-offset: 0.125rem;
}
