.ScoreRow {
  display: flex;
  margin: 4px 0;
  line-height: 20px;
}

.ScoreRow-name {
  flex-grow: 1;
}

.ScoreRow-bar {
  width: 100px;
  height: 20px;
  background: #c0e0d0;
}

.ScoreRow-bar-inner {
  display: block;
  height: 100%;
  padding-left: 8px;
  font-size: 14px;
  font-weight: bold;
  background: #e95;
}

@media (max-width: 400px) {
  .ScoreRow {
    display: block;
  }

  .ScoreRow-bar {
    width: 100%;
  }
}
