.SelectMemberButton {
  display: inline-block;
  min-width: 120px;
  margin: 0;
  padding: 24px 12px;
  font: inherit;
  font-size: 20px;
  background: #fff;
  border: 6px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
}

.SelectMemberButton:focus,
.SelectMemberButton:hover {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}
