.BasicButton {
  display: inline-block;
  height: calc(2.4em + 0.125rem);
  margin: 0 0.25rem;
  padding: 0 0.7em;
  font: inherit;
  font-size: 0.875rem;
  font-weight: bold;
  line-height: 2.4;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
  color: #000;
  background: #fff;
  border: 0.0625rem solid #8b8b8b;
  border-radius: 0.375rem;
  box-shadow: 0 0.2rem 0.2rem -0.15rem rgb(0 0 0 / 25%);
  cursor: pointer;
  outline: none;
  user-select: none;
}

.BasicButton:first-child {
  margin-left: 0;
}

.BasicButton:last-child {
  margin-right: 0;
}

.BasicButton:disabled {
  cursor: default;
  opacity: 0.5;
}

.BasicButton.primary {
  color: #4787c6;
  border-color: #4787c6;
}

.BasicButton.warn {
  border-color: #da042f;
  color: #da042f;
}

.BasicButton:not(:disabled):hover,
.BasicButton:not(:disabled):focus {
  box-shadow: 0 0 0 0.0625rem currentColor, 0 0.2rem 0.2rem 0 rgb(0 0 0 / 40%);
}

/* FontAwesome icon in button */
.BasicButton > svg {
  margin: 0 0.5rem 0 0;
}
