.BasicButton {
  display: inline-block;
  height: 36px;
  margin: 0 4px;
  padding: 0 10px;
  font: inherit;
  font-size: 14px;
  font-weight: bold;
  line-height: 34px;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
  color: #000;
  background: #fff;
  border: 1px solid #8b8b8b;
  border-radius: 6px;
  box-shadow: 0 3px 3px -2px rgb(0 0 0 / 25%);
  cursor: pointer;
  outline: none;
  user-select: none;
}

.BasicButton:first-child {
  margin-left: 0;
}

.BasicButton:last-child {
  margin-right: 0;
}

.BasicButton:disabled {
  cursor: default;
  opacity: 0.5;
}

.BasicButton.primary {
  color: #4787c6;
  border-color: #4787c6;
}

.BasicButton.warn {
  border-color: #da042f;
  color: #da042f;
}

.BasicButton:not(:disabled):hover,
.BasicButton:not(:disabled):focus {
  box-shadow: 0 0 0 1px currentColor, 0 3px 3px 0 rgb(0 0 0 / 40%);
}

/* FontAwesome icon in button */
.BasicButton > svg {
  margin: 0 8px 0 0;
}
