.TextField {
  height: var(--form-height);
  padding: 0 0.6rem;
  font: inherit;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  background: #fff;
  border: 0.125rem solid #bbb;
  border-radius: 0.125rem;
  color: #000;
  outline: none;
}

.TextField:disabled {
  opacity: 0.5;
}

.TextField:not(:disabled):hover {
  border-color: #666;
}

.TextField:not(:disabled):focus {
  border-color: #000;
  box-shadow: 0 0.125rem 0.25rem 0 rgb(0 0 0 / 20%);
}
