.SettingsBox {
  margin: 0.6rem 0;
  padding: 0 0.75rem;
  align-items: center;
  background: #fff;
  border: 0.125rem solid transparent;
  border-radius: 0.125rem;
  box-shadow: 0 0.375rem 0.75rem 0 rgb(0 0 0 / 10%);
}

.SettingsBox > hr {
  display: block;
  margin: 0;
  height: 0.125rem;
  border: none;
  background: #e8e8e8;
}
