.SettingsBox {
  margin: 0.6rem 0;
  padding: 0 0.75rem;
  align-items: center;
  background: #fff;
  border-radius: var(--card-radius);
  box-shadow: var(--card-shadow);
}

.SettingsBox > hr {
  display: block;
  margin: 0;
  height: 0.125rem;
  border: none;
  background: #e8e8e8;
}
