.NavigationBarLayout {
  margin-left: 3.75rem;
  padding: 1rem;
}

.NavigationBarLayout.centered > .NavigationBarLayout-content {
  width: 100%;
  max-width: 50rem;
  margin: 1.25rem auto;
}

@media (max-height: 22rem) {
  .NavigationBarLayout {
    margin-left: 0;
    margin-top: 3.75rem;
  }
}
