.NavigationBarLayout {
  margin-left: var(--nav-thickness);
  padding: 1rem;
}

.NavigationBarLayout.centered > .NavigationBarLayout-content {
  width: 100%;
  max-width: 50rem;
  margin: 1.25rem auto;
}

@media (max-height: 20rem) or (max-width: 35rem) {
  .NavigationBarLayout {
    margin-left: 0;
    margin-top: var(--nav-thickness);
  }
}
