@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  -webkit-tap-highlight-color: transparent;
}

:root {
  --form-height: 2.25rem;
  --nav-thickness: 3.75rem;
  --card-radius: 0.125rem;
  --card-shadow: 0 0.375rem 0.75rem 0 rgb(0 0 0 / 10%);
}

body {
  @apply min-h-screen;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f8f8f8;
  background: linear-gradient(to top right, #ffdef7, #eeece4, #c7e4ff);
}
