@import "tailwindcss";

@custom-variant hocus {
  &:hover,
  &:focus {
    @slot;
  }
}

*,
*::before,
*::after {
  -webkit-tap-highlight-color: transparent;
}

:root {
  --nav-thickness: 3.75rem;
}

body {
  @apply min-h-screen antialiased;

  background: #f8f8f8;
  background: linear-gradient(to top right, #ffdef7, #eeece4, #c7e4ff);
}
