.ColorPicker {
  display: inline-flex;
  flex-wrap: wrap;
  vertical-align: middle;
  background: #fff;
  gap: 0.2rem;
  padding: 0.25rem;
}

.ColorPicker-btn {
  display: inline-block;
  width: 1.75rem;
  height: 1.75rem;
  padding: 0;
  font: inherit;
  background: none;
  border: 0.125rem solid transparent;
  border-radius: 25%;
  cursor: pointer;
  transform: scale(0.86);
}

.ColorPicker-btn.selected,
.ColorPicker-btn:active,
.ColorPicker-btn:hover {
  transform: none;
  border-radius: 8%;
}

.ColorPicker-btn.selected {
  border-color: #000;
}
