.MemberItem-color {
  display: inline-block;
  width: 32px;
  height: 32px;
  margin-right: 16px;
  border-radius: 4px;
  vertical-align: middle;
}

.MemberItem.inactive {
  color: #888;
}

.MemberItem.inactive .MemberItem-color {
  background: #d0d0d0 !important;
}
