.MemberItem-color {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  margin-right: 1rem;
  border-radius: 0.25rem;
  vertical-align: middle;
}

.MemberItem.inactive {
  color: #888;
}

.MemberItem.inactive .MemberItem-color {
  background: #d0d0d0 !important;
}
