.ManualChoreItem {
  display: flex;
  margin: 16px 0;
  padding: 12px;
  align-items: center;
  background: #fff;
  border: 2px solid #b1b1b1;
}

.ManualChoreItem-name {
  flex-grow: 1;
  font-size: 20px;
}

.ManualChoreItem-actions {
  text-align: right;
}
