.EditModal-title {
  margin: 0 0 24px;
}

.EditModal-title > svg {
  margin-right: 12px;
}

.EditModal-actions {
  display: flex;
  justify-content: center;
  margin: 24px 0 0;
  padding: 16px 0 0;
  border-top: 2px solid #ddd;
}

.EditModal-delete {
  flex-grow: 1;
  margin-right: 32px;
}
