.Modal {
  z-index: 100;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #0005;
  padding: 24px;
  display: none;
  align-items: center;
  justify-content: center;
}

.Modal.active {
  display: flex;
}

.Modal-container {
  position: relative;
  padding: 24px 32px;
  background-color: #fff;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  overflow-y: hidden;
}
