.Modal {
  z-index: 100;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #0005;
  padding: 24px 24px 72px;
  display: none;
  overflow-y: auto;
}

.Modal.important {
  z-index: 1000;
}

.Modal.active {
  display: flex;
}

.Modal-container {
  position: relative;
  max-width: 100%;
  margin: auto;
  padding: 24px 32px;
  background-color: #fff;
  box-shadow: 0 0 24px 0 rgb(0 0 0 / 25%);
  border-radius: 4px;
}

@media (max-width: 720px) {
  .Modal {
    padding-left: 12px;
    padding-right: 12px;
  }

  .Modal-container {
    padding: 16px;
  }
}
