.Modal {
  z-index: 100;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #0005;
  padding: 1.5rem 1.5rem 4.5rem;
  display: none;
  overflow-y: auto;
}

.Modal.important {
  z-index: 1000;
}

.Modal.active {
  display: flex;
}

.Modal-container {
  position: relative;
  max-width: 100%;
  margin: auto;
  padding: 1.5rem 2rem;
  background-color: #fff;
  box-shadow: 0 0 1.5rem 0 rgb(0 0 0 / 25%);
  border-radius: 0.25rem;
}

@media (max-width: 45rem) {
  .Modal {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }

  .Modal-container {
    padding: 1rem;
  }
}
