.Calendar {
  font-size: 1rem;
  padding: 0.75em;
  border-radius: var(--card-radius);
  background: #fff;
  box-shadow: var(--card-shadow);
  overflow-x: auto;
}

.Calendar-head {
  font-size: 1.25em;
  margin: 0 0 0.75em;
  text-align: center;
  white-space: nowrap;
}

.Calendar-head-btn {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  margin: 0;
  padding: 0;
  font: inherit;
  line-height: 1.75rem;
  color: inherit;
  border: 0.125rem solid transparent;
  border-radius: 50%;
  background: none;
  outline: none;
  cursor: pointer;
}

.Calendar-head-btn:focus,
.Calendar-head-btn:hover {
  border-color: #999;
  box-shadow: 0 0.375rem 0.75rem 0 rgb(0 0 0 / 10%);
}

.Calendar-head-month {
  display: inline-block;
  min-width: 10em;
  margin: 0 0.75em;
}

.Calendar-table {
  table-layout: fixed;
  border-collapse: collapse;
  width: 100%;
  min-width: 36rem;
}

.Calendar-th {
  padding: 0.2em 0 0.4em;
  font-size: 1.25em;
  font-weight: normal;
  text-align: center;
}

.Calendar-td {
  height: 4em;
  padding: 0.25em 0;
  text-align: center;
  vertical-align: top;
  border: 0.125rem solid #eee;
  outline: 0.2rem solid transparent;
  outline-offset: -0.2rem;
}

.Calendar-td.inactive {
  background: rgb(0 0 0 / 2%);
}

.Calendar-td.clickable {
  cursor: pointer;
}

.Calendar-td.clickable:focus,
.Calendar-td.clickable:hover {
  background: #f4f9ff;
  outline-color: #81a4f5;
}

.Calendar-td.current {
  outline-color: #666;
}
