.PeriodicChoreCalendar-entry {
  display: block;
  width: 100%;
  margin: 0;
  padding: 4px;
  font: inherit;
  font-weight: bold;
  background: #eee;
  border: 2px solid #fff;
  border-radius: 4px;
  outline: none;
  text-shadow: 0 0 2px #fff;
}

.PeriodicChoreCalendar-entry:not(.planned):focus,
.PeriodicChoreCalendar-entry:not(.planned):hover {
  border-color: #666;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 40%);
  cursor: pointer;
}

.PeriodicChoreCalendar-entry.planned {
  opacity: 0.5;
  font-style: italic;
}
