.PeriodicChoreCalendar-entry {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0.25em;
  font: inherit;
  font-weight: bold;
  background: #eee;
  border: 0.125rem solid #fff;
  border-radius: 0.25rem;
  outline: none;
  text-shadow: 0 0 0.125rem #fff;
}

.PeriodicChoreCalendar-entry:not(.planned):focus,
.PeriodicChoreCalendar-entry:not(.planned):hover {
  border-color: #666;
  box-shadow: 0 0.125rem 0.25rem 0 rgb(0 0 0 / 40%);
  cursor: pointer;
}

.PeriodicChoreCalendar-entry.planned {
  opacity: 0.5;
  font-style: italic;
}
